services:
  dns:
    container_name: dns
    image: ubuntu/bind9:latest
    environment:
      - BIND9_USER=root
      - TZ=America/Fortaleza
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./DNS/resolved.conf:/etc/systemd/resolved.conf
      - ./DNS/named.conf:/etc/bind/named.conf
      - ./DNS/dockerson.zone:/etc/bind/dockerson.zone
    restart: unless-stopped
    networks:
      - rede-ISP
  # Servidor Proxy (Traefik)
  traefik:
    image: traefik:latest
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    restart: unless-stopped
    networks:
      - rede-ISP
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./Traefik/traefik-config.yaml:/etc/traefik/traefik.yaml:ro 
  # Portal (Portal.dockerson.br)
  nginx:
    container_name: nginx
    image: nginx:latest
    labels:
      - traefik.enable=true
      - traefik.http.routers.nginx-http.rule=Host("portal.dockerson.br")
      - traefik.http.routers.nginx-http.entrypoints=web
    restart: unless-stopped
    volumes:
      - ./Portal/index.html:/usr/share/nginx/html/index.html

    networks:
      - rede-ISP
  # Servidor de Email (Postfix/Dovecot)

  # Servidor de Webmail (Roundcube)

networks:
  rede-ISP:
    external: true
  rede-externa:
    external: true
# docker network create <nome_da_network>